#line-chart{
    height: 800px;
    border-style: solid;
    border-color: #182848;
    border-width: thin;
}

/* You can add global styles to this file, and also import other style files */
.line {
    fill: none;
    stroke:url(#priceGradient);
    stroke-width: 1px;
    stroke-dasharray: '385 385';
    stroke-dashoffset: 385;
    shape-rendering: geometricPrecision;
}

/* Style the dots by assigning a fill and stroke */

.dot {
    fill: url(#priceGradient);
    stroke: url(#priceGradient);
    shape-rendering: geometricPrecision;
}



div.tooltip {
    visibility: hidden;
    padding-bottom: .5em;
    position: absolute;
    width: 10em;
    height: 5em;
    color: #1b7db1;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    -webkit-box-shadow: 6px 6px 13px 0px rgba(173, 171, 173, 0.87);
    -moz-box-shadow: 6px 6px 13px 0px rgba(173, 171, 173, 0.87);
    box-shadow: 6px 6px 13px 0px rgba(173, 171, 173, 0.87);

}
.tooltip p {
    text-align: center;
}

.tooltip h4 {
    text-align: center;
}


.noUi-connect {
    background: #182848 !important;
}

.axis {
	font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: url(#mainGradient);;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

/*********************************************************************** AREA **************************/

  .stop-left {
    stop-color: #4b6cb7;  /* Indigo */
}

.stop-right {
    stop-color:#182848;  /* Teal */
}




.line-asset {
    fill: none;
    /* stroke: #0d3d56; */
    stroke: url(#mainGradient);
    stroke-width: 5px;
  }
  
  .overlay {
    fill: none;
    pointer-events: all;
  }
  
  .focus circle {
    fill: #F1F3F3;
    stroke: #182848;
    stroke-width: 5px;
  }
    
  .hover-line {
    stroke: #182848;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }
  
  
  .area {
      /* fill: #0d3d56; */
      fill: url(#mainGradient);
    }
    